<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小猫猫相册</title>
    <style> 
        .shishi {
            font-size: 100px;
            background-color: aqua;
        }
        .shi1 {
            font-size: 100px;
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div id="app"></div>
</body>
</html>